{% extends 'base.html' %}

{% block page_title %}Terms&Condititions{% endblock %}

{% load bootstrap_tags %}

{% block content %}

<!-- terms and conditions of renting vehicles -->
<article class="pt-4 mx-4 mx-md-5 text-justify">
    <h3 class="text-center heading-orange pt-5">General Terms and Conditions</h3>
    <p> We reserves the right, in its sole discretion, to modify, alter or otherwise update these Terms at any time with or without any advance notice to you by substituting a new Terms of Use Agreement in place of the current one. Please check this page periodically for changes to the Terms; you will be able to determine if the Terms have been changed since your previous visit by viewing the "Last Updated" information that appears at the top of this Agreement. By choosing to continue to use or access this Website after we have posted notice of such modifications, alterations or updates, and after you have had the opportunity to read the revised Terms, you agree to be bound by such revised Terms. </p>


   
</article>
{% endblock %}